.shadow {
  animation: pulse 10s linear infinite;
}

@keyframes pulse {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    box-shadow: 0 0 0 0 #71ad37;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    box-shadow: 0 0 20px 10px #71ad37;
  }
}