.skills__card-img_star {
  width: 20px;
  height: 20px;
  object-fit: contain;
  object-position: center;
}

@media all and (max-width: 600px) {
  .skills__card-img_star {
    width: 10px;
    height: 10px;
  }
}