@import url(./__separator/language__separator.css);

.language {
  display: flex;
  transform: translate(38%, 38%) rotate(270deg);
  margin: 0;
  align-self: center;
  color: #828282;
}

@media all and (max-width: 600px) {
  .language {
    display: none;
  }
}