.footer__navigation {
  width: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
}

@media all and (max-width: 600px) {
  .footer__navigation {
    width: 230px;
    padding-top: 35px;
  }
}