@import url(./__menu/footer__menu.css);
@import url(./__menu/_table/footer__menu_table.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__title/footer__title.css);
@import url(./__subtitle/footer__subtitle.css);
@import url(./__text/footer__text.css);
@import url(./__button/footer__button.css);
@import url(./__icon/footer__icon.css);

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 115px 0 123px;
  text-align: center;
}
