.header__menu-button {
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #070707;
}

.header__menu-button:hover {
  opacity: .3;
  transition: opacity .2s;
}

@media all and (max-width: 700px) {
  .header__menu-button {
    font-size: 14px;
    line-height: 20px;
  }
}